* {
  box-sizing: border-box;
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6fafc;
  height: 100vh;
  letter-spacing: 1px;
  width: 100vw;
}

svg:nth-child(1) {
  height: 860px;
  width: 1080px;
}

svg:nth-child(2) {
  align-self: center;
  height: 650px;
  margin: 0 auto;
  width: 650px;
}

.header {
  display: flex;
  color: #8792a0;
  flex-direction: row;
  height: 15%;
  justify-content: space-between;
  padding: 1% 4%;
}

.header > div {
  margin-right: auto;
}

.header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.header > div:nth-child(2) {
  padding-left: 450px;
}

.header > div > h1 {
  font-weight: 200;
}

.header > div > span {
  font-weight: 400;
  padding-top: 10px;
}

.container {
  align-items: flex-end;
  display: flex;
  height: 85%;
  justify-content: flex-start;
  padding: 1%;
}

.select-form {
  height: 100%;
}

.grid {
  opacity: 0.5;
}

.graph > text {
  fill: #8792a0;
}

.bars:hover {
  cursor: pointer;
}

.bar-chart--text {
  font-weight: bolder;
  margin-top: 38px;
}

.x-axis > g > text {
  transform: rotate(-45deg) translate(-20px, 0px);
}

.domain {
  stroke: #c9d8e8;
}

.tick > text {
  fill: #c9d8e8;
}

.tick > line {
  stroke: #c9d8e8;
}

.tooltip-value {
  font-size: 14px;
  font-weight: bold;
  fill: #8792a0;
}

.tooltip-donut {
  font-size: 20px;
  font-weight: bold;
  fill: #8792a0;
}

.tooltip-donut--letter {
  font-size: 16px;
  font-weight: 400;
  fill: #8792a0;
}
