* {
  box-sizing: border-box;
  font-family: system-ui;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6fafc;
  height: 100vh;
  letter-spacing: 1px;
  width: 100vw;
}

svg:nth-child(1) {
  height: 860px;
  width: 1080px;
}

svg:nth-child(2) {
  align-self: center;
}

.header {
  display: flex;
color: #8792a0;
  flex-direction: column;
  height: 15%;
  padding: 1% 4%;
}

.header > h1 {
  font-weight: 200;
}

.header > span {
  font-weight: 500;
  padding-top: 10px;
}

.container {
  align-items: flex-end;
  display: flex;
  height: 85%;
  justify-content: flex-start;
  padding: 1%;
}

.select-form {
  margin-top: auto;
}

.graph > text {
  fill: #8792a0;
}

.x-axis > g > text {
  transform: rotate(-45deg) translate(-20px, 0px);
}

.rect-bar {
  fill: #ff8c9c;
}

.rect-bar:hover {
  fill: #ed5f73;
  transition: 0.2s ease-in;
}

.domain {
  stroke: #c9d8e8;
}

.tick > text {
  fill: #c9d8e8;
}

.tick > line {
  stroke: #c9d8e8;
}

.tooltip-value {
  font-size: 14px;
  font-weight: bold;
  fill: #8792a0;
}
