* {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.container {
  text-align: center;
}

svg {
  height: 920px;
  width: 1420px;
}

.x-axis > g > text {
  transform: rotate(-45deg) translate(-10px, 0px);
}