* {
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(77, 89, 99);
  background: radial-gradient(
    circle,
    rgba(77, 89, 99, 1) 0%,
    rgba(63, 73, 82, 1) 100%
  );
  height: 100vh;
  padding: 2.5rem 5rem;
  width: 100vw;
}

h1 {
  color: rgb(223, 225, 229);
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

span {
  color: rgb(223, 225, 229);
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 1px;
}

rect {
  fill: rgb(223, 225, 229);
}

.domain,
.tick > line {
  opacity: 0;
}

text,
.tick > text {
  fill: rgb(223, 225, 229);
}
